<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Attended Events</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/bootstrap-grid.css">

    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/main.css">
    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/fonts.min.css">

    <script src="https://eventifyteam.github.io/js/webfontloader.min.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>


    <style>
        .profile-image {
            object-fit: cover;
        }
    </style>
</head>
<body class="page-has-left-panels page-has-right-panels">

<header class="header" id="site-header" style="background-color: #08192d">

    <div class="page-title">
        <a href="/home"><h6 style="color: white;">Eventify</h6></a>
    </div>

    <div class="header-content-wrapper">

        <div class="control-block">
            <div class="author-page author vcard inline-items more">
                <div class="author-thumb">
                    <img alt="author" src="../static/img/author-page.jpeg"
                         th:src="@{/picture/{path}(path=${@userDetailsService.getCurrentUser().getId()})}"
                         class="profile-image">
                    <div class="more-dropdown more-with-triangle">
                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <div class="ui-block-title ui-block-title-small">
                                <h6 class="title">Your Account</h6>
                            </div>
                            <ul class="chat-settings">
                                <li>
                                    <a href="settings.html" th:href="@{/settings}">
                                        <span class="icon-status online"></span>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/index" th:href="@{/logout}">
                                        <span class="icon-status disconected"></span>
                                        <span>Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="#" class="author-name fn">
                    <div class="author-title" th:text="${@userDetailsService.getCurrentUser().getName()}">
                        Prototype User
                    </div>
                    <span class="author-subtitle"></span> <!-- SAMPLE TEXT -->
                </a>
            </div>

        </div>
    </div>

</header>

<div class="header-spacer header-spacer-small"></div>

<div style="margin-bottom: 3%"></div>


<div class="container">
    <div class="row">
        <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Attended Events</h6>
                    <a href="#" class="more"></a>
                </div>


                <!-- Event List (Notification) -->
                <ul class="notification-list"
                    th:each="event :${@userDetailsService.getCurrentUser().getAttendedEvents()}">
                    <!--/*@thymesVar id="event" type="eventify.server.jpa.model.Event"*/-->
                    <li>
                        <div class="author-thumb">
                            <img src="../static/img/author-page.jpeg" alt="author" class="profile-image"
                                 th:src="@{/picture/{id}(id=${event.getCreator().getId()})}">
                        </div>
                        <div class="notification-event">
                            <a href="#" class="h6 notification-friend" th:text="${event.getName()}">Prototype attended
                                event</a>
                            <span class="notification-date"><time class="entry-date updated"
                                                                  datetime="2004-07-24T18:18"
                                                                  th:text="${event.getDate()}">Time is shown here</time></span>
                        </div>
                        <span class="notification-icon"></span>
                        <div class="more">
                        </div>
                    </li>
                </ul>
            </div>
         </div>

        <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
            <div class="ui-block">
                <div class="ui-block-title">
                    <a href="settings.html" class="h6 title" th:href="@{/settings}">Profile Settings</a>
                </div>

                <div class="ui-block-title">
                    <a href="created.html" class="h6 title" th:href="@{/created}">Created Events</a>
                </div>
                <div class="ui-block-title">
                    <a href="attended.html" class="h6 title" th:href="@{/attended}">Attended Events</a>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="back-to-top" href="#" style="background-color: #08192d">
    <img src="../static/svg-icons/back-to-top.svg" th:src="@{/svg-icons/back-to-top.svg}" alt="arrow" class="back-icon">
</a>
</body>
</html>
