<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Home</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/bootstrap-grid.css">

    <link rel="stylesheet" type="text/css" href="../static/css/portal.css" th:href="@{/css/portal.css}">
    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/fonts.min.css">

    <script src="https://eventifyteam.github.io/js/webfontloader.min.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>

    <style>
        span {
            color: black;
        }

        .bg-secondary2 {
            background-color: #ee4749;
        }

        .timeline-centered:before {
            left: 120px;
            top: 0;
            bottom: 0;
        }

        .right-panel {
            margin: 0 !important;
            padding: 0 !important;
            height: calc(100vh - 70px);
            overflow-y: scroll
        }

        .timeline-centered {
            margin-left: auto;
            margin-bottom: 0;
        }

        .timeline-centered .timeline-entry {
            padding-top: 5px;
            width: calc(100% - 120px);
        }
    </style>
    <style>
        .profile-image {
            object-fit: cover;
        }
    </style>
</head>
<body style="background-color: white">

<header class="header" id="site-header" style="background-color: #08192d">

    <div class="page-title">
        <a href="/home"><h6 style="color: white;">Eventify</h6></a>
    </div>

    <div class="header-content-wrapper">

        <div class="control-block">
            <div class="author-page author vcard inline-items more">
                <div class="author-thumb">
                    <img alt="author" src="../static/img/author-page.jpeg"
                         th:src="@{/picture/{path}(path=${@userDetailsService.getCurrentUser().getId()})}"
                         class="profile-image">
                    <div class="more-dropdown more-with-triangle">
                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <div class="ui-block-title ui-block-title-small">
                                <h6 class="title">Your Account</h6>
                            </div>
                            <ul class="chat-settings">
                                <li>
                                    <a href="settings.html" th:href="@{/settings}">
                                        <span class="icon-status online"></span>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/index" th:href="@{/logout}">
                                        <span class="icon-status disconected"></span>
                                        <span>Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="#" class="author-name fn">
                    <div class="author-title" th:text="${@userDetailsService.getCurrentUser().getName()}">
                        Prototype User
                    </div>
                    <span class="author-subtitle"></span> <!-- SAMPLE TEXT -->
                </a>
            </div>

        </div>
    </div>

</header>

<div class="header-spacer header-spacer-small"></div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header" style="margin-top: -1%">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 modal_body_content">
              <p>Pick a location from the map</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 modal_body_map">
              <div class="location-map" id="location-map">
                <div style="width: 600px; height: 400px;" id="map_canvas"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 modal_body_end">
                <button type="button" class="btn btn-primary" style="margin-top: 2%" data-dismiss="modal"
                        aria-label="Close" onclick="setEventInputs()"><span style="color: white" aria-hidden="true">Choose</span>
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12 bg-primary" id="map">

        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 right-panel">
            <div class="news-feed-form">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>

                    <li class="nav-item"></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
                        <form th:action="@{/events/create}" method="post">
                            <div class="author-thumb">
                                <img alt="author" src="../static/img/author-page.jpeg"
                                     th:src="@{/picture/{path}(path=${@userDetailsService.getCurrentUser().getId()})}"
                                     class="profile-image">
                            </div>
                            <div class="form-group with-icon label-floating is-empty">
                                <textarea class="form-control" placeholder="Create your event" name="name"></textarea>
                                <input type="hidden" name="lat" id="inpt_lat">
                                <input type="hidden" name="lng" id="inpt_lng">
                            </div>
                            <div class="add-options-message">
                                <button class="btn btn-primary btn-md-2"
                                        style="background-color: #08192d; border-color: #08192d" type="submit">Create
                                    Event
                                </button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                                        data-lat=' 39.76' data-lng='30.52'>Location
                                </button>
                            </div>

                        </form>
                    </div>

                    <div class="tab-pane" id="profile-1" role="tabpanel" aria-expanded="true">
                        <form>
                            <div class="author-thumb">
                                <img src="img/author-page.jpg" alt="author">
                            </div>
                            <div class="form-group with-icon label-floating is-empty">
                                <label class="control-label">Share what you are thinking here...</label>
                                <textarea class="form-control" placeholder=""></textarea>
                            </div>
                            <div class="add-options-message">
                                <a href="#" class="options-message" data-toggle="tooltip" data-placement="top"
                                   data-original-title="ADD PHOTOS">
                                    <svg class="olymp-camera-icon" data-toggle="modal"
                                         data-target="#update-header-photo">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
                                    </svg>
                                </a>
                                <a href="#" class="options-message" data-toggle="tooltip" data-placement="top"
                                   data-original-title="TAG YOUR FRIENDS">
                                    <svg class="olymp-computer-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
                                    </svg>
                                </a>

                                <a href="#" class="options-message" data-toggle="tooltip" data-placement="top"
                                   data-original-title="ADD LOCATION">
                                    <svg class="olymp-small-pin-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use>
                                    </svg>
                                </a>

                                <button class="btn btn-primary btn-md-2">Post Status</button>
                                <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>

                            </div>

                        </form>
                    </div>

                    <div class="tab-pane" id="blog" role="tabpanel" aria-expanded="true">
                        <form>
                            <div class="author-thumb">
                                <img src="img/author-page.jpg" alt="author">
                            </div>
                            <div class="form-group with-icon label-floating is-empty">
                                <label class="control-label">Share what you are thinking here...</label>
                                <textarea class="form-control" placeholder=""></textarea>
                            </div>
                            <div class="add-options-message">
                                <a href="#" class="options-message" data-toggle="tooltip" data-placement="top"
                                   data-original-title="ADD PHOTOS">
                                    <svg class="olymp-camera-icon" data-toggle="modal"
                                         data-target="#update-header-photo">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
                                    </svg>
                                </a>
                                <a href="#" class="options-message" data-toggle="tooltip" data-placement="top"
                                   data-original-title="TAG YOUR FRIENDS">
                                    <svg class="olymp-computer-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
                                    </svg>
                                </a>

                                <a href="#" class="options-message" data-toggle="tooltip" data-placement="top"
                                   data-original-title="ADD LOCATION">
                                    <svg class="olymp-small-pin-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use>
                                    </svg>
                                </a>

                                <button class="btn btn-primary btn-md-2">Post Status</button>
                                <button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>

                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="timeline-centered">
                <article class="timeline-entry" th:each="event, iStat : ${@eventService.getIncomingEvents()}">
                    <div class="timeline-entry-inner">
                        <time class="timeline-time" th:datetime="${event.getDate()}"><span
                                th:text="${event.getDate().getHour()+':'+event.getDate().getMinute()}">07:00 PM</span>
                            <span th:text="${event.getDate().getYear()+' '+event.getDate().getMonth().name().substring(0,3)+' '+event.getDate().getDayOfMonth()}"></span>
                        </time>

                        <div class="timeline-icon"
                             th:classappend="${iStat.index%3==0}? 'bg-success' : (${iStat.index%3==1}? 'bg-secondary2' : 'bg-info')">
                            <i class="entypo-feather"></i>
                        </div>

                        <div class="timeline-label">
                            <h2>
                                <div class="author-thumb">
                                    <img src="../static/img/author-page.jpeg" alt="author" class="profile-image"
                                         th:src="@{/picture/{id}(id=${event.getCreator().getId()})}">
                                </div>
                                <a href="#" th:text="${event.getCreator().getName()}">Sercan Akdeniz</a> <span
                                    th:text="${event.getName()}">Event name here</span></h2>
                            <th:block
                                    th:with="condition=${@userDetailsService.getCurrentUser().getAttendedEvents().contains(event)}">
                                <a th:unless="${condition}" th:href="@{/joinEvent/{id}(id=${event.getId()})}"
                                   style="color: darkred; font-size: 16px">Join!</a>
                                <a th:if="${condition}" th:href="@{/cancelJoin/{id}(id=${event.getId()})}"
                                   style="color: darkred; font-size: 16px">Cancel</a>
                            </th:block>
                            </p>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>
</div>

<a class="back-to-top" href="#" style="background-color: #08192d">
    <img src="../static/svg-icons/back-to-top.svg" th:src="@{/svg-icons/back-to-top.svg}" alt="arrow" class="back-icon">
</a>


<script th:inline="javascript">
    function addMarkerToMap(eventData, mapElement) {
        console.log(eventData);
        new google.maps.Marker({
            position: {
                lat: eventData['lat'],
                lng: eventData['lng'],
            },
            map: mapElement,
            title: eventData['name']
        })
    }

    // Initialize and add the map
    function initMap() {
        var apiUrl = /*[[@{/events/incoming}]]*/
            fetch(apiUrl).then((res) => res.json()).then((apiData) => {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 13,
                    center: {lat: 39.77, lng: 30.52}
                });
                console.log(apiData);

                Object.keys(apiData).forEach((eventIndex) => {
                    addMarkerToMap(apiData[eventIndex], map);
                });
            })
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnvsKwYr5v2G9q_nx5-OcVD6XvddsG1k8&callback=initMap">
</script>

<script src="//maps.googleapis.com/maps/api/js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(useCurrentPosition);
        }


        var map = null;

        function initializeGMap() {

            var myOptions = {
                zoom: 12,
                zoomControl: true,
                center: {lat: window.myLatlng.lat(), lng: window.myLatlng.lng()},
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            window.myMarker = new google.maps.Marker({
                position: {lat: window.myLatlng.lat(), lng: myLatlng.lng()},
                draggable: true,
                title: "Drag me!"
            });
            myMarker.setMap(map);
        }


  // Re-init map before show modal
  $('#myModal').on('show.bs.modal', function(event) {
      initializeGMap();
      $("#location-map").css("width", "100%");
      $("#map_canvas").css("width", "100%");
  });

        // Trigger map resize event after modal shown
        $('#myModal').on('shown.bs.modal', function () {
            google.maps.event.trigger(map, "resize");
            map.setCenter(myLatlng);
        });
    });

    function useCurrentPosition(position) {
        window.myLatlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        $("#inpt_lat").val(position.coords.latitude);
        $("#inpt_lng").val(position.coords.longitude);
    }

    function setEventInputs() {
        $("#inpt_lat").val(myMarker.position.lat());
        $("#inpt_lng").val(myMarker.position.lng());
    }
</script>

</body>
</html>