<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Home</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/bootstrap-grid.css">

    <link rel="stylesheet" type="text/css" href="../static/css/portal.css" th:href="@{/css/portal.css}">
    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/fonts.min.css">

    <script src="https://eventifyteam.github.io/js/webfontloader.min.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>

    <style>
        span {
            color: black;
        }

        .bg-secondary2 {
            background-color: #ee4749;
        }

        .timeline-centered:before {
            left: 155px;
        }

        .timeline-centered {
            margin-left: auto;
            margin-bottom: 0;
            height: calc(100vh - 70px);
            overflow-y: scroll
        }

        .timeline-centered .timeline-entry {
            padding-top: 5px;
            width: calc(100% - 140px);
        }
    </style>
    <style>
        .profile-image {
            object-fit: cover;
        }
    </style>
</head>
<body style="background-color: white">

<header class="header" id="site-header" style="background-color: #08192d">

    <div class="page-title">
        <a href="/home"><h6 style="color: white;">Eventify</h6></a>
    </div>

    <div class="header-content-wrapper">

        <div class="control-block">
            <div class="author-page author vcard inline-items more">
                <div class="author-thumb">
                    <img alt="author" src="../static/img/author-page.jpeg"
                         th:src="@{/picture/{path}(path=${@userDetailsService.getCurrentUser().getId()})}"
                         class="profile-image">
                    <div class="more-dropdown more-with-triangle">
                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <div class="ui-block-title ui-block-title-small">
                                <h6 class="title">Your Account</h6>
                            </div>
                            <ul class="chat-settings">
                                <li>
                                    <a href="settings.html" th:href="@{/settings}">
                                        <span class="icon-status online"></span>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/index" th:href="@{/logout}">
                                        <span class="icon-status disconected"></span>
                                        <span>Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="#" class="author-name fn">
                    <div class="author-title" th:text="${@userDetailsService.getCurrentUser().getName()}">
                        Prototype User
                    </div>
                    <span class="author-subtitle"></span> <!-- SAMPLE TEXT -->
                </a>
            </div>

        </div>
    </div>

</header>

<div class="header-spacer header-spacer-small"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12 bg-primary" id="map">

        </div>
        <div class="timeline-centered  col-lg-6 col-md-12 col-xs-12">

            <article class="timeline-entry" th:each="event, iStat : ${@eventService.getIncomingEvents()}">
                <div class="timeline-entry-inner">
                    <time class="timeline-time" th:datetime="${event.getDate()}"><span
                            th:text="${event.getDate().getHour()+':'+event.getDate().getMinute()}">07:00 PM</span>
                        <span th:text="${event.getDate().getYear()+'-'+event.getDate().getMonth().name().substring(0,3)+'-'+event.getDate().getDayOfMonth()}"></span>
                    </time>

                    <div class="timeline-icon"
                         th:classappend="${iStat.index%3==0}? 'bg-success' : (${iStat.index%3==1}? 'bg-secondary2' : 'bg-info')">
                        <i class="entypo-feather"></i>
                    </div>

                    <div class="timeline-label">
                        <h2>
                            <div class="author-thumb">
                                <img src="../static/img/author-page.jpeg" alt="author" class="profile-image"
                                     th:src="@{/picture/{id}(id=${event.getCreator().getId()})}">
                            </div>
                            <a href="#" th:text="${event.getCreator().getName()}">Sercan Akdeniz</a> <span
                                th:text="${event.getName()}">Event name here</span></h2>
                        <th:block
                                th:with="condition=${@userDetailsService.getCurrentUser().getAttendedEvents().contains(event)}">
                            <a th:unless="${condition}" th:href="@{/joinEvent/{id}(id=${event.getId()})}"
                               style="color: darkred; font-size: 16px">Join!</a>
                            <a th:if="${condition}" th:href="@{/cancelJoin/{id}(id=${event.getId()})}"
                               style="color: darkred; font-size: 16px">Cancel</a>
                        </th:block>
                        </p>
                    </div>
                </div>
            </article>

        </div>
    </div>
</div>

<a class="back-to-top" href="#" style="background-color: #08192d">
    <img src="../static/svg-icons/back-to-top.svg" th:src="@{/svg-icons/back-to-top.svg}" alt="arrow" class="back-icon">
</a>


<script th:inline="javascript">
    function addMarkerToMap(eventData, mapElement) {
        console.log(eventData);
        new google.maps.Marker({
            position: {
                lat: eventData['lat'],
                lng: eventData['lng'],
            },
            map: mapElement,
            title: eventData['name']
        })
    }

    // Initialize and add the map
    function initMap() {
        var apiUrl = /*[[@{/events/incoming}]]*/
            fetch(apiUrl).then((res) => res.json()).then((apiData) => {
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 13,
                    center: {lat: 39.77, lng: 30.52}
                });
                console.log(apiData);

                Object.keys(apiData).forEach((eventIndex) => {
                    addMarkerToMap(apiData[eventIndex], map);
                });
            })
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnvsKwYr5v2G9q_nx5-OcVD6XvddsG1k8&callback=initMap">
</script>

</body>
</html>