<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Home</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/bootstrap-grid.css">

    <link rel="stylesheet" type="text/css" href="../static/css/portal.css" th:href="@{/css/portal.css}">
    <link rel="stylesheet" type="text/css" href="https://eventifyteam.github.io/css/fonts.min.css">

    <script src="https://eventifyteam.github.io/js/webfontloader.min.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>
    <style>
        span {
            color: black;
        }

        .bg-secondary2 {
            background-color: #ee4749;
        }
    </style>
</head>
<body class="page-has-left-panels page-has-right-panels" style="background-color: white">

<header class="header" id="site-header" style="background-color: #08192d">

    <div class="page-title">
        <a href="/home"><h6 style="color: white;">Eventify</h6></a>
    </div>

    <div class="header-content-wrapper">

        <div class="control-block">
            <div class="author-page author vcard inline-items more">
                <div class="author-thumb">
                    <img alt="author" src="../static/img/author-page.jpeg"
                         th:src="@{/picture/{path}(path=${#authentication.getPrincipal().getId()})}"
                         class="profile-image">
                    <div class="more-dropdown more-with-triangle">
                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <div class="ui-block-title ui-block-title-small">
                                <h6 class="title">Your Account</h6>
                            </div>
                            <ul class="chat-settings">
                                <li>
                                    <a href="settings.html" th:href="@{/settings}">
                                        <span class="icon-status online"></span>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/index" th:href="@{/logout}">
                                        <span class="icon-status disconected"></span>
                                        <span>Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="#" class="author-name fn">
                    <div class="author-title" th:text="${#authentication.getPrincipal().getName()}">
                        Prototype User
                    </div>
                    <span class="author-subtitle"></span> <!-- SAMPLE TEXT -->
                </a>
            </div>

        </div>
    </div>

</header>

<div class="header-spacer header-spacer-small"></div>
<div style="margin-bottom: 3%"></div>

<div class="container">
    <div class="row">
        <div class="timeline-centered">

            <article class="timeline-entry">

                <div class="timeline-entry-inner">
                    <time class="timeline-time" datetime="2020-01-06T21:00"><span>07:00 PM</span> <span>Today</span>
                    </time>

                    <div class="timeline-icon bg-success">
                        <i class="entypo-feather"></i>
                    </div>

                    <div class="timeline-label">
                        <h2><a href="#">Sercan Akdeniz</a> <span>created a study event in </span>Eskişehir Technical
                            University</h2>
                        <p>"I have been struggling to study by myself lately. Anyone up to join me?"&emsp;<a href="#" style="color: darkred; font-size: 16px">Join!</a></p>
                    </div>
                </div>

            </article>

            <article class="timeline-entry">

                <div class="timeline-entry-inner">
                    <time class="timeline-time" datetime="2020-01-08T22:00"><span>10:00 PM</span>
                        <span>08 Jan 2020</span>
                    </time>

                    <div class="timeline-icon bg-secondary2">
                        <i class="entypo-feather"></i>
                    </div>

                    <div class="timeline-label">
                        <h2><a href="#">Emre Tanrıverdi</a> <span>created a drinking event in </span>Social Pub</h2>
                        <p>"Hi guys! Wanna have some beer? ;)"&emsp;<a href="#" style="color: darkred; font-size: 16px">Join!</a></p>
                    </div>
                </div>

            </article>

            <article class="timeline-entry">

                <div class="timeline-entry-inner">
                    <time class="timeline-time" datetime="2020-01-13T21:00"><span>09:00 PM</span>
                        <span>13 Jan 2020</span>
                    </time>

                    <div class="timeline-icon bg-info">
                        <i class="entypo-feather"></i>
                    </div>

                    <div class="timeline-label">
                        <h2><a href="#">Salih Başaran</a> <span>created a coffee event in </span>Mackbear</h2>
                        <p>"I have been craving for coffee for days! Wanna grab a latte?"&emsp;<a href="#" style="color: darkred; font-size: 16px">Join!</a></p>
                    </div>
                </div>

            </article>

            <article class="timeline-entry">

                <div class="timeline-entry-inner">
                    <time class="timeline-time" datetime="2020-01-1520:00"><span>08:00 PM</span>
                        <span>15 Jan 2020</span>
                    </time>

                    <div class="timeline-icon bg-warning">
                        <i class="entypo-feather"></i>
                    </div>

                    <div class="timeline-label">
                        <h2><a href="#">Aytaç Kayadelen</a> <span>created a dinner event in </span>McDonald's</h2>
                        <p>"Who can say no to a delicious Big Mac?"&emsp;<a href="#" style="color: darkred; font-size: 16px">Join!</a></p>
                    </div>
                </div>

            </article>

            <article class="timeline-entry">
                <div class="timeline-label" style="visibility: hidden">
                    <!-- En sondaki paragrafta yeterince uzun bir text olmazsa yazıların hepsi sola kayıyor,
                     bu sebeple buraya hidden 'div' ekledim. Lütfen silmeyin, veya silecekseniz de sitenin
                     sola kaymasına hazır olun XD XD XD XD XD -->
                    <p style="color: white;">"Congrats!<br>You have found the hidden text!<br><br>This website is made
                        by Eventify Team!<br>We are here for you! Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                        amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem
                        ipsum dolor sit amet. Lorem ipsum dolor sit amet."</p>
                </div>
            </article>


            <article class="timeline-entry begin">

                <div class="timeline-entry-inner">

                    <div class="timeline-icon"
                         style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); background-color: darkgray">
                        <i class="entypo-flight"></i>
                    </div>

                </div>

            </article>

        </div>
    </div>
</div>

<a class="back-to-top" href="#" style="background-color: #08192d">
    <img src="../static/svg-icons/back-to-top.svg" th:src="@{/svg-icons/back-to-top.svg}" alt="arrow" class="back-icon">
</a>
</body>
</html>