<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Eventify</title>
    <meta charset="UTF-8">
    <meta name="description" content="Eventify">
    <meta name="keywords" content="html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../static/images/favicon.ico" rel="shortcut icon" th:src="@{/images/favicon.ico}"/>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://eventifyteam.github.io/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://eventifyteam.github.io/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://eventifyteam.github.io/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="https://eventifyteam.github.io/css/slicknav.min.css"/>

    <link rel="stylesheet" href="https://eventifyteam.github.io/css/style.css"/>

    <style>
        .hs-item {
            height: auto;
        }
    </style>
</head>
<body>

<header class="header-section clearfix">
    <a href="index.html" class="site-logo" style="padding-bottom: 2em">
        <img src="../static/images/logo.png" style="width:10em;" alt="" th:src="@{/images/logo.png}"
             th:href="@{/index}">
    </a>
    <div class="header-right">
        <a href="contact.html" class="hr-btn" th:href="@{/contact}">Contact Us</a>
        <span>|</span>
        <div class="user-panel">
            <a href="login" class="login" th:href="@{/login}">Login</a>
            <a href="signup.html" class="register" th:href="@{/signup}">Sign up</a>
        </div>
    </div>
</header>
<!-- Header section end -->

<!-- Hero section -->
<section class="hero-section container-fluid" style="background: #0a183d;">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="hero-slider owl-carousel">
                    <div class="hs-item justify-content-center">
                        <div class="hs-text">
                            <h2><span>Events</span> for everyone.</h2>
                            <p>There may be some times when you want to attend a certain event, but you have no one to
                                attend with!
                                You may want to study something, adopt a pet, grab a coffee, anything! </p>
                        </div>
                    </div>
                    <div class="hs-item justify-content-center">
                        <div class="hs-text">
                            <h2><span>Socialize</span> with people.</h2>
                            <p>Eventify is here for you to end all your troubles!<br>Create an event or join an existing
                                one! Join us!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <a href="login" class="site-btn" th:href="@{/home}">Login</a>
                <a href="signup.html" class="site-btn sb-c2" th:href="@{/signup}">Sign up</a>
            </div>
        </div>
        <div class="col-md-6">
            <iframe id="gmap_canvas"
                    src="https://maps.google.com/maps?q=eski%C5%9Feh&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0"
                    scrolling="no" width="100%" height="700vh"></iframe>
        </div>
    </div>
</section>
<!-- Hero section end -->

<!-- Intro section -->
<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Join events as much as you want!</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>Eventify is run by a great team of volunteer developers, don't hesitate to join us in this amazing
                    adventure!<br>
                    Many projects, events, friends to connect to! It takes a lot of energy and time to find people by
                    ourselves! So, yes, you need us! And we need you!
                </p>
                <a href="/signup" class="site-btn">Try it now</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="premium-item">
                    <img src="../static/images/1.jpg" alt="" th:src="@{/images/1.jpg}">
                    <h4>Dinners</h4>
                    <p>Who can say no to a fancy dinner?</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="premium-item">
                    <img src="../static/images/2.jpg" alt="" th:src="@{/images/2.jpg}">
                    <h4>Drinks</h4>
                    <p>Wanna get drunk?</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="premium-item">
                    <img src="../static/images/3.jpg" alt="" th:src="@{/images/3.jpg}">
                    <h4>Coffee</h4>
                    <p>Have a latte and study.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="premium-item">
                    <img src="../static/images/4.jpg" alt="" th:src="@{/images/4.jpg}">
                    <h4>Concerts</h4>
                    <p>Let's shout all the way!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Intro section end -->
<<!-- Footer section -->
<link href="https://eventifyteam.github.io/css/eventify.css" rel="stylesheet" th:href="@{/css/eventify.css}">
<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <!-- Footer Location -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4" style="color: white">Location</h4>
                <p class="lead mb-0" style="color: white">No: 47/16, 26170, Eskisehir</p>
            </div>

            <!-- Footer Social Icons -->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4" style="color: white">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="mailto: eventifyt@gmail.com">
                    <i class="fa fa-envelope"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/eventifyteam">
                    <i class="fa fa-github"></i>
                </a>
            </div>

            <!-- Footer About Text -->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4" style="color: white">About Us</h4>
                <p class="lead mb-0" style="color: white">Made with ❤ by
                    <a href="http://github.com/eventifyteam" style="color: white">Eventify</a>.</p>
            </div>

        </div>
    </div>
</footer>
<!-- Footer section end -->

<!--====== Javascripts & Jquery ======-->
<script src="https://eventifyteam.github.io/js/jquery-3.2.1.min.js"></script>
<script src="https://eventifyteam.github.io/js/bootstrap.min.js"></script>
<script src="https://eventifyteam.github.io/js/jquery.slicknav.min.js"></script>
<script src="https://eventifyteam.github.io/js/owl.carousel.min.js"></script>
<script src="https://eventifyteam.github.io/js/mixitup.min.js"></script>
<script src="https://eventifyteam.github.io/js/main.js"></script>

</body>
</html>