<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Profile Settings</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="../static/Bootstrap/dist/css/bootstrap-reboot.css"
          th:href="@{/Bootstrap/dist/css/bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" href="../static/Bootstrap/dist/css/bootstrap.css"
          th:href="@{/Bootstrap/dist/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" href="../static/Bootstrap/dist/css/bootstrap-grid.css"
          th:href="@{/Bootstrap/dist/css/bootstrap-grid.css}">

    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/fonts.min.css" th:href="@{/css/fonts.min.css}">

    <script src="../static/js/webfontloader.min.js" th:href="@{/js/webfontloader.min.js}"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>
</head>
<body class="page-has-left-panels page-has-right-panels">

<header class="header" id="site-header" style="background-color: #08192d">

    <div class="page-title">
        <h6>Eventify</h6>
    </div>

    <div class="header-content-wrapper">

        <div class="control-block">
            <div class="author-page author vcard inline-items more">
                <div class="author-thumb">
                    <img alt="author" src="../static/img/author-page.jpeg" th:src="@{/img/author-page.jpeg}"
                         class="profile-image">
                    <div class="more-dropdown more-with-triangle">
                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <div class="ui-block-title ui-block-title-small">
                                <h6 class="title">Your Account</h6>
                            </div>
                            <ul class="chat-settings">
                                <li>
                                    <a href="settings.html" th:href="@{/settings}">
                                        <span class="icon-status online"></span>
                                        <span>Profile Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="login.html" th:href="@{/login}">
                                        <span class="icon-status disconected"></span>
                                        <span>Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="#" class="author-name fn">
                    <div class="author-title">
                        Sercan Akdeniz
                    </div>
                    <span class="author-subtitle"></span> <!-- SAMPLE TEXT -->
                </a>
            </div>

        </div>
    </div>

</header>

<div class="header-spacer header-spacer-small"></div>

<div style="margin-bottom: 3%"></div>


<div class="container">
    <div class="row">
        <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Profile Settings</h6>
                    <a href="#" class="more">
                        <svg class="olymp-three-dots-icon">
                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                        </svg>
                    </a>
                </div>


                <!-- Settings -->

                <div class="ui-block-content">


                    <form>
                        <div class="row">

                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Your Name</label>
                                    <input class="form-control" placeholder="" type="text" value="Sercan Akdeniz">
                                </div>

                                <div class="form-group label-floating">
                                    <label class="control-label">Your Email</label>
                                    <input class="form-control" placeholder="" type="email"
                                           value="sercanakdeniz@eskisehir.edu.tr">
                                </div>


                            </div>

                            <div class="col col-lg-6 col-md-6 col-sm-12 col-12">

                                <div class="form-group label-floating">
                                    <label class="control-label">Your Password</label>
                                    <input class="form-control" placeholder="" type="password" value="serco1122">
                                </div>


                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Your Phone Number</label>
                                    <!-- NOT IMPLEMENTED IN THE BACK-END YET -->
                                    <input class="form-control" placeholder="" type="text">
                                </div>
                            </div>


                            <div class="col-xs-6 col-sm-8 col-lg-12">
                                <button class="btn btn-primary btn-lg full-width"
                                        style="background-color: #08192d; border-color: #08192d">Update all Changes
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12 responsive-display-none">
            <div class="ui-block">
                <div class="ui-block-title">
                    <a href="settings.html" class="h6 title" th:href="@{/settings}">Profile Settings</a>
                </div>

                <div class="ui-block-title">
                    <a href="created.html" class="h6 title" th:href="@{/created}">Created Events</a>
                </div>
                <div class="ui-block-title">
                    <a href="attended.html" class="h6 title" th:href="@{/attended}">Attended Events</a>
                </div>
            </div>
        </div>
    </div>
</div>


<a class="back-to-top" href="#" style="background-color: #08192d">
    <img src="../static/svg-icons/back-to-top.svg" th:src="@{/svg-icons/back-to-top.svg}" alt="arrow" class="back-icon">
</a>
</body>
</html>

