<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/fonts/material-icon/css/material-design-iconic-font.min.css"
          th:href="@{/css/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" href="../static/css/sign.css" th:href="@{/css/sign.css}">

</head>
<body>
<div class="align-content-center position-center">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <!--/*@thymesVar id="errorMessage" type="java.lang.Iterable<String>"*/-->
                    <th:block th:if="${errorMessage!=null}" th:each="message : ${errorMessage}">
                        <span class="text-danger" th:text="${message}">Error message here</span>
                    </th:block>
                    <h2 class="form-title">Sign Up</h2>
                    <form method="POST" name="register-form" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="name" id="name" placeholder="Full Name"/>
                        </div>
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="username" id="email"
                                   placeholder="Email (will be used for login)"/>
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="pass" placeholder="Password"
                                   class="pwd"/>
                        </div>
                        <a href="#" class="reveal" style="color: black">Show password</a>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="../static/images/signup-image.jpg" alt="sign up image"
                                 th:src="@{/images/signup-image.jpg}"></figure>
                    <a href="/home" class="signup-image-link" style="margin-right: 50px">I already have an account</a>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script>
    $(".reveal").on('click', function () {
        var $pwd = $(".pwd");
        if ($pwd.attr('type') === 'password') {
            $pwd.attr('type', 'text');
        } else {
            $pwd.attr('type', 'password');
        }
    });
</script>
</body>
</html>